{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if user.is_client %}
    <section class="mt-3 mb-3">
        <div class="row">
            <div class="col-md-3 col-sm-12 border-end ">    
                <p class="fw-bold">Your Profile</p>
                <div class="card mb-3">
                    {% for client in client_profile %}
                    <div class="card-body">
                        {% if client.image %}
                        <img src="{{profile.image.url}}" alt="" class="avatarimg mb-3">
                        {% else %}
                        <img src="https://images.unsplash.com/photo-1634926878768-2a5b3c42f139?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D"
                            alt="" class="avatarimg mb-3">
                        {% endif %}
                        {% if not client.phone_number or not client.location %}
                        <p class="card-text">Update Personal Information</p>
                        <a href="{%url 'accounts:client-update' user.id %}">Update</a>
                        {% else %}
                        <p class="card-text">{{client.phone_number}}</p>
                        <p class="card-text">{{client.location}}</p>
                        <a href="{%url 'accounts:client-update' user.id %}" class="btn btn-sm btn-info">Update</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    {% endif %}
    
    {% if user.is_vendor %}
    <section class="mt-3 mb-3">
        <div class="row">

            <!-- PROFILE AREA -->
            <div class="col-md-2 col-sm-12 border-end ">
                <div>
                    <p class="fw-bold">Your Profile</p>
                    <div class="card mb-3 bg-primary-subtle bg-gradient shadow rounded-3">
                        {% for vendor in vendor_profile %}
                        <div class="card-body">
                            {% if vendor.image %}
                            <img src="{{vendor.image.url}}" alt="avatar" class="avatarimg mb-3">
                            {% else %}
                            <img src="https://images.unsplash.com/photo-1634926878768-2a5b3c42f139?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGF2YXRhcnxlbnwwfHwwfHx8MA%3D%3D"
                                alt="" class="avatarimg mb-3">
                            {% endif %}
                            <p class="card-text"><strong>{{user.get_username}}</strong></p>
                            {% if not vendor.phone_number or not vendor.shop_location %}
                            <p class="card-text">Update Personal Information</p>
                            <a href="{%url 'accounts:vendor-update' user.id %}">Update</a>
                            {% else %}
                            <p class="card-text"><strong>Contact: </strong>+254{{vendor.phone_number}}</p>
                            <p class="card-text"><strong>Location: </strong>{{vendor.shop_location}}</p>
                            <a href="{%url 'accounts:vendor-update' user.id %}" class="btn btn-dark shadow rounded-4">Update</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div>
                    <p class="fw-bold">Shop Details</p>
                    <div class="card mb-3 bg-success-subtle bg-gradient shadow rounded-3">
                        {% for shop in vendor_shop %}
                        <div class="card-body">
                            {% if shop.image %}
                            <img src="{{shop.image.url}}" alt="" class="shopimage mb-3">
                            {% else %}
                            <img src="https://images.unsplash.com/photo-1632224120632-895c7132d2b1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGdhcyUyMHN0YXRpb258ZW58MHx8MHx8fDA%3D"
                                alt="" class="shopimage mb-3">
                            {% endif %}
                            {% if not shop.name or not shop.location or not shop.contact %}
                            <p class="card-text">Update Shop Information</p>
                            <a href="{%url 'shop:shop-update' shop.id %}">Update</a>
                            {% else %}
                            <p class="card-text"><strong>Name: </strong>{{shop.name}}</p>
                            <p class="card-text"><strong>Contact: </strong>+254{{shop.contact}}</p>
                            <p class="card-text"><strong>Location: </strong>{{shop.location}}</p>
                            <a href="{%url 'shop:shop-update' shop.id %}" class="btn btn-dark shadow rounded-4">Update</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- DASHBOARD AREA -->
            <div class="col-md-10 col-sm-12">
                <h4 class="fw-bold">Dashboard</h4>
                <hr>
                <section class="mt-3">
                    <div class="row">

                        <!-- Products side -->
                        <div class="col-md-10 col-sm-12">
                            <div class="py-3 mb-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6>Products</h6>
                                    </div>
                                    <div>
                                        <a class="btn btn-success" href="{%url 'shop:product-create'%}"><i class="bi bi-plus-lg"></i></a>
                                    </div>
                                </div>
                                <hr>
                                {% if vendor_product %}
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Category</th>
                                                <th>Price</th>
                                                <th>Availability</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in vendor_product %}
                                            <tr>
                                                <td>
                                                    <img src="{{product.product_image.url}}" class="dash-image" alt="">
                                                </td>
                                                <td>{{product.name}}</td>
                                                <td>{{product.description}}</td>
                                                <td>{{product.category}}</td>
                                                <td>{{product.price}}</td>
                                                <td>{{product.availability}}</td>
                                                <td><a href="{% url 'shop:product-update' product.id %}" class="btn-sm btn btn-primary">Update</a></td>
                                            </tr>
                                                {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                                {% else %}
                                <p class="bg-warning p-3 fw-bold">Create a product <a href="{%url 'shop:category-create'%}">here</a></p>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Categories side -->
                        <div class="col-md-2 col-sm-12">
                            <div class="py-3 mb-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6>Categories</h6>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary" href="{%url 'shop:category-create'%}"><i class="bi bi-plus-lg"></i></a>
                                    </div>
                                </div>
                                <hr>
                                {% if vendor_category %}
                                    <ul>
                                        {% for category in vendor_category %}
                                        <li>{{category.name}}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                <p class="bg-warning p-3 fw-bold">No Categories. Click <a href="{%url 'shop:category-create'%}">here</a> to create a
                                    category</p>
                                {% endif %}
                            
                            </div>
                        </div>
                    </div>
                    
                    
                </section>
            </div>
        </div>
    </section>
    {% endif %}
</div>
{% endblock %}