{% extends 'base.html' %}

{% load static %}

{% block title %}Shop Update{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container py-3">
    <h6 class="fw-bold text-center mt-3">Update Your Shop Information</h6>
    <div class="col-md-10 mx-auto col-lg-5">
        <form method="post" enctype="multipart/form-data" class="rounded-3 bg-body-tertiary p-4 border">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{form.image|as_crispy_field}}
            </div>
        
            <div class="form-floating mb-3">
                {{form.name|as_crispy_field}}
            </div>
        
            <div class="form-floating mb-3">
                {{form.location|as_crispy_field}}
            </div>
        
            <div class="form-floating mb-3">
                {{form.contact|as_crispy_field}}
            </div>
            <button class="btn btn-dark w-100" type="submit">Update</button>
        </form>
    </div>
    
</div>

{% endblock %}