.shopimage {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.avatarimg {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.dash-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.product-image {
    height: 200px;
}